{% extends 'base.html' %}
{% load bootstrap %}




{% block Title %}Funcionário{% endblock %}

{% block main %}



<form method="POST">
    {% csrf_token %}

    {{ form | bootstrap }}
    <div>
        <button type="submit" class="btn btn-primary">Salvar</button>
    </div>

</form>

<h2>Documentos</h2>
<ul>
    {% for documento in object.documento_set.all %}
    <li>
        <a href="{{ documento.arquivo.url }}"> {{ documento.descricao }}</a>
    </li>
    {% endfor %}

</ul>


<a href="{% url 'create_documentos' object.id %}" class="btn btn-success"><i class="fa-regular fa-file"></i>
    Adicionar Documento
</a>


{% endblock %}